:root{
    --main: #6F38C5;
    --mainShade:#512a90;
    --sub1: #87A2FB;
    --sub2b: #B7EBDD;
    --sub2: #ADDDD0;
    --sub2d1: #99C4B9;
    --sub2d2: #7B9E95;
    --bg: #EEEEEE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;;
}
body{
    background-color: var(--bg);;
    height: 100vh;
}

.wrapper{
    display: flex;
    height: 100%;
}

/*----- right panel --------*/

.right-panel{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: var(--sub1);
    color: var(--bg);
}
.right-panel .logo{
    text-align: center;
    padding: 40px 20px 40px 20px ;
    background-color: var(--main);
}

.right-panel ul.nav{
    overflow-y: auto;
    margin-top: 10%;
    margin-left: 5%;
}

.right-panel li.section{
    padding: 10px;
}

.right-panel li.section .section-header{
    display: flex;
}

.right-panel li.section .section-header i{
    font-size: 20px;
    margin-right: 5px;
}

.right-panel ul{
    list-style: none;
    
}

.right-panel a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: var(--bg);
    transition: all 0.3s;
}
.right-panel a:hover{
    background-color: var(--main);
}

.right-panel li.section h1{
    font-size: 20px;
}

ul.subsection{
    padding: 10px;
}

.right-panel .footer{
    width: 100%;
    margin-top: auto;
    bottom: 0;
    background-color:var(--mainShade);
}

.right-panel .footer p{
    padding: 10px;
    width: fit-content;
    margin: auto;
   
}

/*----- section--------*/
section.main{
    width: 80%;
}

section.main .header{
    height: 50px;
    background-color: var(--mainShade);
}

section.sub{
    height: calc(100% - 50px);
    display: flex;
}

section.sub .content{
    flex: 1 1 auto;
    max-width: calc(100% - 20px);
}

section.sub .left-panel{
    width: fit-content;
    background-color: var(--sub2);
    padding: 10px;
}

/*------------ header --------------*/
.wrapper .header {
    padding-right: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.wrapper .header .notification{
    margin-right: 10px;
    position: relative;
}

.wrapper .header .icon{
    cursor: pointer;
    font-size: 35px;
    color: var(--bg);
}