.db-main{
    padding: 100px;
}
.title{
    padding: 10px;
    text-shadow: 3px 3px var(--sub2);
    color: var(--main);
}

h3.db-h3{
    color: var(--mainShade);
}

hr{
    height: 1px;
    border-color: var(--mainShade);
}
.db-wrapper{
    display: flex;
    width: 100%;
}

.db-wrapper .left-panel{
    color: var(--mainShade);;
    width: 300px;
    background-color: var(--bg);
    border-right: 1px solid var(--mainShade);

}

.db-wrapper .left-panel ul{
    list-style: none;
    margin-left: 10px;
}
a{
    text-decoration: none;
}
.db-wrapper .left-panel ul li{
    padding: 2px;
    margin: 2px;
    border-bottom: 1px solid;
}
.db-wrapper .left-panel ul li:hover{
    background-color: var(--sub2);
    
}

/*--------- content ------------*/
.content {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.content .mailnpw{
    display: flex;
}

.mail, .pw, .others {
    padding: 0 30px;

}

.input-section form div input,
.input-section form div textarea{
    height:50px;
    margin:10px;
    padding:10px;
    font-size: 17px;
    background-color: #e0e0e0;
    border: none;
    border-radius:7px;
}
.input-section form div textarea{
    
     height:150px;
     border-radius:7px;
     line-height:1;
     resize:none;
     outline:none;
     padding:1rem;
     font-size: 16px;
     font-weight: 500;
}
.send-btn{
    cursor: pointer;
    
    border-radius: 25px;
    background-color:#3e1f92;
    margin-top:20px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    padding:10px;
    color:white;
    font-size: 16px;
    border: none;
    outline: none;
}

.details-btn{
    cursor: pointer;
    
    background-color:#1f468b;
    display: inline-block;
    text-align: center;
    color:white;
    font-size: 16px;
    border: none;
    outline: none;
}