/*---------------------------------------*/
/*-------------- Declarations -----------*/
/*---------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root{
    --main: #6F38C5;
    --mainShade:#512a90;
    --sub1: #87A2FB;
    --sub2b: #B7EBDD;
    --sub2: #ADDDD0;
    --sub2d1: #99C4B9;
    --sub2d2: #7B9E95;
    --bg: #EEEEEE;
}


/*---------------------------------------*/
/*-------------- GLOBAL -----------------*/
/*---------------------------------------*/

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    height: 100vh
}
#wrapper{
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100%;
}
main{
    min-height: calc(100% - 614px);
    padding: 20px 10%;
}
/*---------------------------------------*/
/*-------------- Header -----------------*/
/*---------------------------------------*/

header{
    display: flex;
    padding: 0 5% 0 10%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main);
    justify-content: space-between;
    align-items: center;
}
#logo a{
    color: var(--bg);
    height: 42px;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav .menu-item{
    display: block;
    width: 100px;
    height: 42px;
    transition: all 0.2s linear;
}
nav .btn{
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--bg);
    display: block;
    width: 100%;
    height: 100%;

}

nav .dropdown-content a{
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: var(--bg);
    display: block;
    transition: all 0.2s linear;
    width: 100px;
}
nav .dropdown-content a:hover{
    background-color: var(--main);
}

nav .dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--sub1);
    z-index: 1;

}


nav .menu-item:hover{
    background-color: var(--mainShade);
}

nav .menu-item:hover .dropdown-content{
    display: block;
}

header i{
    color: var(--bg);
    font-size: 28px;
    cursor: pointer;
}
header .search-bar{
    position: absolute;
    right: 26%;
    height: 34px;
    max-width: 45%;
    width: 0%;
    opacity: 0;
    pointer-events: none;
    transition: width 0.6s linear, opacity 0.2s linear;
}
header.openSearch .search-bar{
    opacity: 1;
    width: 100%;
    pointer-events: auto;
}
.search-bar i{
    position: absolute;
    left: 5px;
    top: 3px;
    color: var(--main);
}
.search-bar input{
    padding-left: 50px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
}


/*---------------------------------------*/
/*-------------- FOOTER -----------------*/
/*---------------------------------------*/
footer{
    width: 100%;
    background-color: var(--sub1);
    margin-top: auto;
    margin-bottom: 0;
    
}
footer a{
    text-decoration: none;
    color: var(--mainShade);
}
#elements-container{
    padding: 20px 5% 20px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: calc(100% - 8%);
}
#elements-container .container{
    padding-bottom: 20px;
    padding-top: 20px;
}
#elements-container .container{
    padding: 10px;
    color: var(--mainShade);
}

#elements-container .container hr{
    width: 50px;
    height: 10px;
    margin: 10px 0 10px 0;
    background-color: var(--sub2);
    border-style: none;
}

#elements-container #brand-name a{
    text-decoration: underline;
}
#elements-container #brand-name a:active{
    color: var(--bg);
}

#social-icons{
    font-size: 25px;
}
#lang-selector{
    margin-top: 110px;
    width: 160px;
}
#lang-options{
    max-height: 120px;
    background-color: var(--bg);
    border-radius: 21px 21px 0 0;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    transition: all 0.1s linear;
}

#lang-selector.Opened #lang-options{
    height: auto;
    opacity: 1;
    pointer-events: auto;
}

#lang-selector ol{
    list-style: none;
    text-align: center;
    padding: 10px;
}
#lang-selector ol li{
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}
#lang-selector ol li:hover{
    background-color: rgb(226, 226, 226);
}

#lang-btn{
    display: flex;
    border-radius: 21px;
    background-color: var(--sub2);
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s linear;
}
#lang-btn i{
    margin-right: 20px;
}
#lang-selector.Opened #lang-btn{
    border-radius: 0 0 21px 21px;
}

#sub-footer{
    height: 8%;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--main);
    color: var(--bg);
}
#sub-footer p {
    padding: 8px 15px 8px 15px;
}
#sub-footer a {
    color: var(--bg);
}