table{
    width: 100%;
}
th{
    text-align: left;
}

tr{
    height: 30px;
}

/*show*/
.order-header{
    display: flex;
}

.order-header .created_at{
    padding-top: 8px;
    margin-right: 0px;
    margin-left: auto;
}

.description{
    margin: 30px;
}

.progress{
    width: 100%;
    background-color: rgb(218, 218, 218);
    padding: 2px;
}
.progress .bar{
    background-color: var(--sub2d2);
    align-items: center;
    text-align: center;
    color: var(--bg);
    padding: 15px;
}

.task-group{
    margin-left: 30px;
}
.task-item{
    padding: 5px;
    margin-left: 60px;
    display: flex;
}
.task-item .line{
    flex-grow: 1;
    height: 10px;
    margin: 0 20px;
    border-bottom: 2px dotted black;
}
.task-item .status{
    margin-right: 0;
    margin-left: auto;
}

.order-status span{
    padding: 5px 10px;
    border-radius: 15px;
}
span.pending{
    background-color: orange;
}
span.delivering{
    background-color: rgb(113, 172, 240);
}

span.completed{
    background-color: rgb(81, 207, 123);
}