.items-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
}

.items-container .item{
    display: flex;
    width: calc(100% - 10px);
    height: 65px;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    margin: 10px 5px 10px 5px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    align-items: center;
}

.items-container .item{
    padding: 10px;
    color: grey;
    height: fit-content
}

.items-container .item .name-container{
    height: fit-content;
    width: fit-content;
}

.items-container .item .name-container img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
    object-fit: cover;
}

.items-container .item .desc{
    padding: 10px;
    width: 35%;
    height: 100%;
}

.items-container .item .timestamps-container{
    font-size: 14px;
}

.items-container .item .btn-container{
    width: 22%;
}

.items-container .item .btn-container a, .items-container .item .btn-container input{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border-style: none;
    color: var(--bg);
    border-radius: 10px;
}

.items-container .item .btn-container a{
    background-color: var(--sub1);
}
.items-container .item .btn-container input{
    background-color: rgb(223, 134, 134);
}

.form-container{
    width: 400px;
    background-color: #94bbb1;
    padding: 20px;
    border-radius: 15px;
}

.form-container.edit{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: white;
}

.form-container.edit input ,.form-container.edit textarea{
    width: 50%;
}

.form-container input ,.form-container textarea{
    margin: 10px;
    width: calc(100% - 20px);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(235, 235, 235);
}

.form-container input.btn:hover{
    background-color: var(--sub2b);
}

.form-container .submit-btn{
    margin-top: 60px;
    width: 220px;
    margin-left: auto;
    margin-right: 0 ;
}
.form-container .submit-btn input{
    font-size: 16px;
    height: 35px;
}


.form-container textarea{
    height: 220px;
}



.form-container input[type="file"]{
    display: none;
}

.form-container .custom-file-upload {
    display: inline-block;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.form-container #img-container{
    display: flex;
    width: fit-content;
    max-width: 100%;
    height: 100px;
    overflow-x: auto;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(235, 235, 235);
}

.form-container #img-container .img-item-db ,.form-container #img-container .img-item{
    position: relative;
    margin-right: 10px;
}

.form-container #img-container .delete-hover{

    position: absolute;
    right: -5px;
    top: -5px;
    background-color: rgb(243, 83, 83);
    border-radius: 10px;
    cursor: pointer;
    
}

.form-container #img-container .delete-hover i{
    color: var(--bg);
    font-size: large;
}


.form-container #img-container img{
    height: 100%;
    border-radius: 10px;
}