body{
    background-color: rgb(233, 233, 233);
    height: 100vh;
    width: auto;
    margin: 0;
}
#header{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgb(86, 74, 194);
}
#header ul{
    display: flex;
}

#account{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 35px;
    background-color: aliceblue;
    border-radius: 15px;
    font-size: 20px;
}

#account p{
    margin: 0;
    padding: 6px;
}
