@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    padding:0;
    margin:0;
 }

 
  
 html{
    scroll-behavior: smooth;
    
 }
 :root {
    --clr-primary: #fafafa;
    --clr-body: #333;
    
  }
 body{
    font-family: 'Poppins', sans-serif;
    
    overflow-x:hidden ;
    
    
}
.main{
    min-height: 60px;
    
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #6d6d6d;
  }
  


 


@media (min-width:768px){
    .container{
       width:750px;
    }

}

@media (min-width:992px){
   .container{
      width:970px;
   }

}

@media (min-width:1200px){
   .container{
      width:1170px;
   }
}

.fa-shopping-bag {
    color: #333; /* couleur noire */
    font-size: 20px; /* taille de l'icône en pixels */
  }

header{
    background-color: #fafafa;
    position: absolute;
    top:0;
    width:100%;
}

header .container,.container{
    padding-left :100px;
    padding-right:100px;
    margin-left: auto;
    margin-right: auto;
    
}

header .container{
   
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*background-color:white;
    /*border-bottom: 1px solid #ccc;*/
    height:60px;
    width:100%;
    position:relative;
}
header .container::after{
    content:"";
    position:absolute;
    bottom:0px;
    height:1px;
    background-color: #a2a2a2;
    width:calc(100% - 200px);
    left:100px;
}
.logo{
    height:50px;
    width:50px;
    margin-right: 10px;
}
.panier{
    width:20px;
    position:absolute;
    bottom:27px;
    right:92px;
   
}
a{
    text-decoration: none;
    cursor: pointer;
}

.navigation ul li{

   display:inline-block;
   margin:10px;
   list-style: none;
   

}
.navigation .menu{

   position: relative;
    
 
 }
nav{
    flex:1;
}
.icons ul li{
    display:inline-block;
    margin:5px;
    list-style: none;
}


.container ul li a {
    color:black;
}
.home{
    color:#3e1f92;
}
.container .navigation ul li a:hover ,
.container .navigation ul li a.home{
   
   /* border-bottom: 1px solid #a267c9;
    color:#a267c9;*/
    border-bottom: 1px solid #3e1f92;
    color:#3e1f92;

 }

 .container .navigation ul li a{
    padding:10px;
    transition: all ease;
 }
 .navigation ul.dropdown li a{
    
    text-align: center;
    font-size: 15px;
    transition: padding-left 0.5s ;

 }
 .navigation ul.dropdown li a:hover{
    padding-left:17px;
   border:none
   
    
 }
 .navigation .dropdown li{
    padding: 10px;
 }
 .navigation .dropdown {
    width:210px;
    background-color: #f2f2f3;
    position: absolute;
    top:42px;
    left:0;
    z-index:999; 
    font-size: 15px;
    transition: all 0.5s ease;
    border-radius: 5px;
    border: 0.5px solid rgb(179, 179, 179);
 }
 #dropdown{
    display:none;
 }
 .dropicon{
    cursor: pointer;
 }
  /*search icon*/
 
  
  .content {
   
    width: 500px;
    
    position: relative;
  }
  
  .search {
    --size: 40px;
    border: 2px solid transparent;
    
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.25em;
    position: relative;
    width: var(--size);
    height: var(--size);
    margin-left: auto;
    padding: 3px;
    
    
  }
  
  .search__input {
    border: 0;
    padding: .25em 1em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ddd;
    opacity: 0;
    cursor: pointer;
  }
  
  .search__submit {
    font-size: 1rem;
    margin-left: auto;
    background: 0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    color: var(--clr-body);
  }
  
  .search:focus-within {
     
    width: 100%;
    background-color: #ddd;
}
.search:focus-within .search__input {
      opacity: 1;
      z-index: initial;
      cursor: initial;
      width: calc(100% - var(--size));
    }
    
 .search:focus-within .search__submit {
     transition: transform 500ms ease-out;
    }
 .search:focus-within .search__submit:hover,
 .search:focus-within .search__submit:focus {
       outline: 0;
       transform: rotate(1turn);
       
     }
   

     .lien{
        margin-top:50px;
        color:#3e1f92;
        font-size:25px;
    }


     .box {
       
        padding: 45px;
        margin: 10px 0;
        width: 950px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "images info"
        "images description";
        grid-gap: 25px;
    }
    
    .box .images {
        grid-area: images;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "active active active active"
        "idle idle idle idle";
        grid-gap: 5px;
    }
    
    .box .images .img-holder img {
        width: 80%;
        display: block;
        border-radius: 10px;
    }
    
    .box .images .img-holder.active {
        grid-area: active;
    }
    
    .box .images .img-holder:not(.active):hover {
        opacity: 0.95;
        cursor: pointer;
    }
    
    
.box.basic-info{
    grid-area: info;
}
.box .description{
    grid-area: description;
}
.basic-info{
    margin-left: 10px;
}
/*entete*/
.entete{
    
    color:#333;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 13px;
    margin-top: 8px;
   
}
.description{
     font-size: 15px;
     color: #333;
     margin-bottom: 15px;
     letter-spacing: 1px;

}
.price{
    font-weight: 500;
    font-size: 20px;

}
   
    
        
      
    
 /*panier*/
 .panier-btn{
    
    margin-top: 10px;
    border:none;
    outline: none;
    width:120px;
    height:40px;
    border-radius: 15px;
    background-color: #3e1f92;
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    padding:7px;
    cursor: pointer;
 }